<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="navbar">navbar</div><br>
        <div class="intro">img to put</div><br>
        <div class="signup" style="border: 2px solid black;">
            <form method="POST" action="/user/signup">
                <div class="signup"><h3>Sign Up</h3></div>
                <div class="labels">
                    <label for="username">Username</label><br>
                    <input type="text" placeholder="Enter your username">
                </div><br>
                <div class="labels">
                    <label for="email">Email</label><br>
                    <input type="email" placeholder="Enter your email">
                </div><br>
                <div class="labels">
                    <label for="password">Password</label><br>
                    <input type="password" placeholder="Enter your password">
                </div><br>
                <div class="labels">
                    <button type="submit">Signup</button>
                </div><br>
                <div class="label">
                    Already have an account?
                    <a href="./login.ejs">Login</a>
                </div>
            </form>
        </div>
        
    </div>
</body>
</html> -->
